/*=======================================================
use with highlight.js at https://highlightjs.org/

default stylesheet
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">



<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

<script>hljs.highlightAll();</script>
=========================================================*/


.vulcan {
  /*!
  Theme: vulcan
  Author: Andrey Varfolomeev
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
}
.vulcan pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
.vulcan code.hljs {
  padding: 3px 5px;
}
.vulcan .hljs {
  color: #5b778c;
  background: #041523;
}
.vulcan .hljs ::selection,
.vulcan .hljs::selection {
  background-color: #003552;
  color: #5b778c;
}
.vulcan .hljs-comment {
  color: #7a5759;
}
.vulcan .hljs-tag {
  color: #6b6977;
}
.vulcan .hljs-operator,
.vulcan .hljs-punctuation,
.vulcan .hljs-subst {
  color: #5b778c;
}
.vulcan .hljs-operator {
  opacity: 0.7;
}
.vulcan .hljs-bullet,
.vulcan .hljs-deletion,
.vulcan .hljs-name,
.vulcan .hljs-selector-tag,
.vulcan .hljs-template-variable,
.vulcan .hljs-variable {
  color: #818591;
}
.vulcan .hljs-attr,
.vulcan .hljs-link,
.vulcan .hljs-literal,
.vulcan .hljs-number,
.vulcan .hljs-symbol,
.vulcan .hljs-variable.constant_ {
  color: #9198a3;
}
.vulcan .hljs-class .hljs-title,
.vulcan .hljs-title,
.vulcan .hljs-title.class_ {
  color: #adb4b9;
}
.vulcan .hljs-strong {
  font-weight: 700;
  color: #adb4b9;
}
.vulcan .hljs-addition,
.vulcan .hljs-attribute,
.vulcan .hljs-built_in,
.vulcan .hljs-code,
.vulcan .hljs-doctag,
.vulcan .hljs-function .hljs-title,
.vulcan .hljs-keyword.hljs-atrule,
.vulcan .hljs-quote,
.vulcan .hljs-regexp,
.vulcan .hljs-section,
.vulcan .hljs-string,
.vulcan .hljs-title.class_.inherited__,
.vulcan .hljs-title.function_,
.vulcan .ruby .hljs-property {
  color: #977d7c;
}
.vulcan .diff .hljs-meta,
.vulcan .hljs-keyword,
.vulcan .hljs-template-tag,
.vulcan .hljs-type {
  color: #9198a3;
}
.vulcan .hljs-emphasis {
  color: #9198a3;
  font-style: italic;
}
.vulcan .hljs-meta,
.vulcan .hljs-meta .hljs-keyword,
.vulcan .hljs-meta .hljs-string {
  color: #977d7c;
}
.vulcan .hljs-meta .hljs-keyword,
.vulcan .hljs-meta-keyword {
  font-weight: 700;
}
.sage-light {
  /*!
  Theme: Sagelight
  Author: Carter Veldhuizen
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
}
.sage-light pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
.sage-light code.hljs {
  padding: 3px 5px;
}
.sage-light .hljs {
  color: #383838;
  background: #f8f8f8;
}
.sage-light .hljs ::selection,
.sage-light .hljs::selection {
  background-color: #d8d8d8;
  color: #383838;
}
.sage-light .hljs-comment {
  color: #b8b8b8;
}
.sage-light .hljs-tag {
  color: #585858;
}
.sage-light .hljs-operator,
.sage-light .hljs-punctuation,
.sage-light .hljs-subst {
  color: #383838;
}
.sage-light .hljs-operator {
  opacity: 0.7;
}
.sage-light .hljs-bullet,
.sage-light .hljs-deletion,
.sage-light .hljs-name,
.sage-light .hljs-selector-tag,
.sage-light .hljs-template-variable,
.sage-light .hljs-variable {
  color: #fa8480;
}
.sage-light .hljs-attr,
.sage-light .hljs-link,
.sage-light .hljs-literal,
.sage-light .hljs-number,
.sage-light .hljs-symbol,
.sage-light .hljs-variable.constant_ {
  color: #ffaa61;
}
.sage-light .hljs-class .hljs-title,
.sage-light .hljs-title,
.sage-light .hljs-title.class_ {
  color: #ffdc61;
}
.sage-light .hljs-strong {
  font-weight: 700;
  color: #ffdc61;
}
.sage-light .hljs-addition,
.sage-light .hljs-code,
.sage-light .hljs-string,
.sage-light .hljs-title.class_.inherited__ {
  color: #a0d2c8;
}
.sage-light .hljs-built_in,
.sage-light .hljs-doctag,
.sage-light .hljs-keyword.hljs-atrule,
.sage-light .hljs-quote,
.sage-light .hljs-regexp {
  color: #a2d6f5;
}
.sage-light .hljs-attribute,
.sage-light .hljs-function .hljs-title,
.sage-light .hljs-section,
.sage-light .hljs-title.function_,
.sage-light .ruby .hljs-property {
  color: #a0a7d2;
}
.sage-light .diff .hljs-meta,
.sage-light .hljs-keyword,
.sage-light .hljs-template-tag,
.sage-light .hljs-type {
  color: #c8a0d2;
}
.sage-light .hljs-emphasis {
  color: #c8a0d2;
  font-style: italic;
}
.sage-light .hljs-meta,
.sage-light .hljs-meta .hljs-keyword,
.sage-light .hljs-meta .hljs-string {
  color: #d2b2a0;
}
.sage-light .hljs-meta .hljs-keyword,
.sage-light .hljs-meta-keyword {
  font-weight: 700;
}
.kimber {
  /*!
  Theme: Kimber
  Author: Mishka Nguyen (https://github.com/akhsiM)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
}
.kimber pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
.kimber code.hljs {
  padding: 3px 5px;
}
.kimber .hljs {
  color: #dedee7;
  background: #222;
}
.kimber .hljs ::selection,
.kimber .hljs::selection {
  background-color: #555d55;
  color: #dedee7;
}
.kimber .hljs-comment {
  color: #644646;
}
.kimber .hljs-tag {
  color: #5a5a5a;
}
.kimber .hljs-operator,
.kimber .hljs-punctuation,
.kimber .hljs-subst {
  color: #dedee7;
}
.kimber .hljs-operator {
  opacity: 0.7;
}
.kimber .hljs-bullet,
.kimber .hljs-deletion,
.kimber .hljs-name,
.kimber .hljs-selector-tag,
.kimber .hljs-template-variable,
.kimber .hljs-variable {
  color: #c88c8c;
}
.kimber .hljs-attr,
.kimber .hljs-link,
.kimber .hljs-literal,
.kimber .hljs-number,
.kimber .hljs-symbol,
.kimber .hljs-variable.constant_ {
  color: #476c88;
}
.kimber .hljs-class .hljs-title,
.kimber .hljs-title,
.kimber .hljs-title.class_ {
  color: #d8b56d;
}
.kimber .hljs-strong {
  font-weight: 700;
  color: #d8b56d;
}
.kimber .hljs-addition,
.kimber .hljs-code,
.kimber .hljs-string,
.kimber .hljs-title.class_.inherited__ {
  color: #99c899;
}
.kimber .hljs-built_in,
.kimber .hljs-doctag,
.kimber .hljs-keyword.hljs-atrule,
.kimber .hljs-quote,
.kimber .hljs-regexp {
  color: #78b4b4;
}
.kimber .hljs-attribute,
.kimber .hljs-function .hljs-title,
.kimber .hljs-section,
.kimber .hljs-title.function_,
.kimber .ruby .hljs-property {
  color: #537c9c;
}
.kimber .diff .hljs-meta,
.kimber .hljs-keyword,
.kimber .hljs-template-tag,
.kimber .hljs-type {
  color: #86cacd;
}
.kimber .hljs-emphasis {
  color: #86cacd;
  font-style: italic;
}
.kimber .hljs-meta,
.kimber .hljs-meta .hljs-keyword,
.kimber .hljs-meta .hljs-string {
  color: #704f4f;
}
.kimber .hljs-meta .hljs-keyword,
.kimber .hljs-meta-keyword {
  font-weight: 700;
}
.base16-github {
  /*!
  Theme: Github
  Author: Defman21
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
}
.base16-github pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
.base16-github code.hljs {
  padding: 3px 5px;
}
.base16-github .hljs {
  color: #333;
  background: #fff;
}
.base16-github .hljs ::selection,
.base16-github .hljs::selection {
  background-color: #c8c8fa;
  color: #333;
}
.base16-github .hljs-comment {
  color: #969896;
}
.base16-github .hljs-tag {
  color: #e8e8e8;
}
.base16-github .hljs-operator,
.base16-github .hljs-punctuation,
.base16-github .hljs-subst {
  color: #333;
}
.base16-github .hljs-operator {
  opacity: 0.7;
}
.base16-github .hljs-bullet,
.base16-github .hljs-deletion,
.base16-github .hljs-name,
.base16-github .hljs-selector-tag,
.base16-github .hljs-template-variable,
.base16-github .hljs-variable {
  color: #ed6a43;
}
.base16-github .hljs-attr,
.base16-github .hljs-link,
.base16-github .hljs-literal,
.base16-github .hljs-number,
.base16-github .hljs-symbol,
.base16-github .hljs-variable.constant_ {
  color: #0086b3;
}
.base16-github .hljs-class .hljs-title,
.base16-github .hljs-title,
.base16-github .hljs-title.class_ {
  color: #795da3;
}
.base16-github .hljs-strong {
  font-weight: 700;
  color: #795da3;
}
.base16-github .hljs-addition,
.base16-github .hljs-built_in,
.base16-github .hljs-code,
.base16-github .hljs-doctag,
.base16-github .hljs-keyword.hljs-atrule,
.base16-github .hljs-quote,
.base16-github .hljs-regexp,
.base16-github .hljs-string,
.base16-github .hljs-title.class_.inherited__ {
  color: #183691;
}
.base16-github .hljs-attribute,
.base16-github .hljs-function .hljs-title,
.base16-github .hljs-section,
.base16-github .hljs-title.function_,
.base16-github .ruby .hljs-property {
  color: #795da3;
}
.base16-github .diff .hljs-meta,
.base16-github .hljs-keyword,
.base16-github .hljs-template-tag,
.base16-github .hljs-type {
  color: #a71d5d;
}
.base16-github .hljs-emphasis {
  color: #a71d5d;
  font-style: italic;
}
.base16-github .hljs-meta,
.base16-github .hljs-meta .hljs-keyword,
.base16-github .hljs-meta .hljs-string {
  color: #333;
}
.base16-github .hljs-meta .hljs-keyword,
.base16-github .hljs-meta-keyword {
  font-weight: 700;
}
.embers {
  /*!
  Theme: Embers
  Author: Jannik Siebert (https://github.com/janniks)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
}
.embers pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
.embers code.hljs {
  padding: 3px 5px;
}
.embers .hljs {
  color: #a39a90;
  background: #16130f;
}
.embers .hljs ::selection,
.embers .hljs::selection {
  background-color: #433b32;
  color: #a39a90;
}
.embers .hljs-comment {
  color: #5a5047;
}
.embers .hljs-tag {
  color: #8a8075;
}
.embers .hljs-operator,
.embers .hljs-punctuation,
.embers .hljs-subst {
  color: #a39a90;
}
.embers .hljs-operator {
  opacity: 0.7;
}
.embers .hljs-bullet,
.embers .hljs-deletion,
.embers .hljs-name,
.embers .hljs-selector-tag,
.embers .hljs-template-variable,
.embers .hljs-variable {
  color: #826d57;
}
.embers .hljs-attr,
.embers .hljs-link,
.embers .hljs-literal,
.embers .hljs-number,
.embers .hljs-symbol,
.embers .hljs-variable.constant_ {
  color: #828257;
}
.embers .hljs-class .hljs-title,
.embers .hljs-title,
.embers .hljs-title.class_ {
  color: #6d8257;
}
.embers .hljs-strong {
  font-weight: 700;
  color: #6d8257;
}
.embers .hljs-addition,
.embers .hljs-code,
.embers .hljs-string,
.embers .hljs-title.class_.inherited__ {
  color: #57826d;
}
.embers .hljs-built_in,
.embers .hljs-doctag,
.embers .hljs-keyword.hljs-atrule,
.embers .hljs-quote,
.embers .hljs-regexp {
  color: #576d82;
}
.embers .hljs-attribute,
.embers .hljs-function .hljs-title,
.embers .hljs-section,
.embers .hljs-title.function_,
.embers .ruby .hljs-property {
  color: #6d5782;
}
.embers .diff .hljs-meta,
.embers .hljs-keyword,
.embers .hljs-template-tag,
.embers .hljs-type {
  color: #82576d;
}
.embers .hljs-emphasis {
  color: #82576d;
  font-style: italic;
}
.embers .hljs-meta,
.embers .hljs-meta .hljs-keyword,
.embers .hljs-meta .hljs-string {
  color: #825757;
}
.embers .hljs-meta .hljs-keyword,
.embers .hljs-meta-keyword {
  font-weight: 700;
}
.darkmoss {
  /*!
  Theme: darkmoss
  Author: Gabriel Avanzi (https://github.com/avanzzzi)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
}
.darkmoss pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
.darkmoss code.hljs {
  padding: 3px 5px;
}
.darkmoss .hljs {
  color: #c7c7a5;
  background: #171e1f;
}
.darkmoss .hljs ::selection,
.darkmoss .hljs::selection {
  background-color: #373c3d;
  color: #c7c7a5;
}
.darkmoss .hljs-comment {
  color: #555e5f;
}
.darkmoss .hljs-tag {
  color: #818f80;
}
.darkmoss .hljs-operator,
.darkmoss .hljs-punctuation,
.darkmoss .hljs-subst {
  color: #c7c7a5;
}
.darkmoss .hljs-operator {
  opacity: 0.7;
}
.darkmoss .hljs-bullet,
.darkmoss .hljs-deletion,
.darkmoss .hljs-name,
.darkmoss .hljs-selector-tag,
.darkmoss .hljs-template-variable,
.darkmoss .hljs-variable {
  color: #ff4658;
}
.darkmoss .hljs-attr,
.darkmoss .hljs-link,
.darkmoss .hljs-literal,
.darkmoss .hljs-number,
.darkmoss .hljs-symbol,
.darkmoss .hljs-variable.constant_ {
  color: #e6db74;
}
.darkmoss .hljs-class .hljs-title,
.darkmoss .hljs-title,
.darkmoss .hljs-title.class_ {
  color: #fdb11f;
}
.darkmoss .hljs-strong {
  font-weight: 700;
  color: #fdb11f;
}
.darkmoss .hljs-addition,
.darkmoss .hljs-code,
.darkmoss .hljs-string,
.darkmoss .hljs-title.class_.inherited__ {
  color: #499180;
}
.darkmoss .hljs-built_in,
.darkmoss .hljs-doctag,
.darkmoss .hljs-keyword.hljs-atrule,
.darkmoss .hljs-quote,
.darkmoss .hljs-regexp {
  color: #66d9ef;
}
.darkmoss .hljs-attribute,
.darkmoss .hljs-function .hljs-title,
.darkmoss .hljs-section,
.darkmoss .hljs-title.function_,
.darkmoss .ruby .hljs-property {
  color: #498091;
}
.darkmoss .diff .hljs-meta,
.darkmoss .hljs-keyword,
.darkmoss .hljs-template-tag,
.darkmoss .hljs-type {
  color: #9bc0c8;
}
.darkmoss .hljs-emphasis {
  color: #9bc0c8;
  font-style: italic;
}
.darkmoss .hljs-meta,
.darkmoss .hljs-meta .hljs-keyword,
.darkmoss .hljs-meta .hljs-string {
  color: #d27b53;
}
.darkmoss .hljs-meta .hljs-keyword,
.darkmoss .hljs-meta-keyword {
  font-weight: 700;
}
.black-metal-bathory {
  /*!
  Theme: Black Metal (Bathory)
  Author: metalelf0 (https://github.com/metalelf0)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
}
.black-metal-bathory pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
.black-metal-bathory code.hljs {
  padding: 3px 5px;
}
.black-metal-bathory .hljs {
  color: #c1c1c1;
  background: #000;
}
.black-metal-bathory .hljs ::selection,
.black-metal-bathory .hljs::selection {
  background-color: #222;
  color: #c1c1c1;
}
.black-metal-bathory .hljs-comment {
  color: #333;
}
.black-metal-bathory .hljs-tag {
  color: #999;
}
.black-metal-bathory .hljs-operator,
.black-metal-bathory .hljs-punctuation,
.black-metal-bathory .hljs-subst {
  color: #c1c1c1;
}
.black-metal-bathory .hljs-operator {
  opacity: 0.7;
}
.black-metal-bathory .hljs-bullet,
.black-metal-bathory .hljs-deletion,
.black-metal-bathory .hljs-name,
.black-metal-bathory .hljs-selector-tag,
.black-metal-bathory .hljs-template-variable,
.black-metal-bathory .hljs-variable {
  color: #5f8787;
}
.black-metal-bathory .hljs-attr,
.black-metal-bathory .hljs-link,
.black-metal-bathory .hljs-literal,
.black-metal-bathory .hljs-number,
.black-metal-bathory .hljs-symbol,
.black-metal-bathory .hljs-variable.constant_ {
  color: #aaa;
}
.black-metal-bathory .hljs-class .hljs-title,
.black-metal-bathory .hljs-title,
.black-metal-bathory .hljs-title.class_ {
  color: #e78a53;
}
.black-metal-bathory .hljs-strong {
  font-weight: 700;
  color: #e78a53;
}
.black-metal-bathory .hljs-addition,
.black-metal-bathory .hljs-code,
.black-metal-bathory .hljs-string,
.black-metal-bathory .hljs-title.class_.inherited__ {
  color: #fbcb97;
}
.black-metal-bathory .hljs-built_in,
.black-metal-bathory .hljs-doctag,
.black-metal-bathory .hljs-keyword.hljs-atrule,
.black-metal-bathory .hljs-quote,
.black-metal-bathory .hljs-regexp {
  color: #aaa;
}
.black-metal-bathory .hljs-attribute,
.black-metal-bathory .hljs-function .hljs-title,
.black-metal-bathory .hljs-section,
.black-metal-bathory .hljs-title.function_,
.black-metal-bathory .ruby .hljs-property {
  color: #888;
}
.black-metal-bathory .diff .hljs-meta,
.black-metal-bathory .hljs-keyword,
.black-metal-bathory .hljs-template-tag,
.black-metal-bathory .hljs-type {
  color: #999;
}
.black-metal-bathory .hljs-emphasis {
  color: #999;
  font-style: italic;
}
.black-metal-bathory .hljs-meta,
.black-metal-bathory .hljs-meta .hljs-keyword,
.black-metal-bathory .hljs-meta .hljs-string {
  color: #444;
}
.black-metal-bathory .hljs-meta .hljs-keyword,
.black-metal-bathory .hljs-meta-keyword {
  font-weight: 700;
}
.black-metal {
  /*!
  Theme: Black Metal
  Author: metalelf0 (https://github.com/metalelf0)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
}
.black-metal pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
.black-metal code.hljs {
  padding: 3px 5px;
}
.black-metal .hljs {
  color: #c1c1c1;
  background: #000;
}
.black-metal .hljs ::selection,
.black-metal .hljs::selection {
  background-color: #222;
  color: #c1c1c1;
}
.black-metal .hljs-comment {
  color: #333;
}
.black-metal .hljs-tag {
  color: #999;
}
.black-metal .hljs-operator,
.black-metal .hljs-punctuation,
.black-metal .hljs-subst {
  color: #c1c1c1;
}
.black-metal .hljs-operator {
  opacity: 0.7;
}
.black-metal .hljs-bullet,
.black-metal .hljs-deletion,
.black-metal .hljs-name,
.black-metal .hljs-selector-tag,
.black-metal .hljs-template-variable,
.black-metal .hljs-variable {
  color: #5f8787;
}
.black-metal .hljs-attr,
.black-metal .hljs-link,
.black-metal .hljs-literal,
.black-metal .hljs-number,
.black-metal .hljs-symbol,
.black-metal .hljs-variable.constant_ {
  color: #aaa;
}
.black-metal .hljs-class .hljs-title,
.black-metal .hljs-title,
.black-metal .hljs-title.class_ {
  color: #a06666;
}
.black-metal .hljs-strong {
  font-weight: 700;
  color: #a06666;
}
.black-metal .hljs-addition,
.black-metal .hljs-code,
.black-metal .hljs-string,
.black-metal .hljs-title.class_.inherited__ {
  color: #d99;
}
.black-metal .hljs-built_in,
.black-metal .hljs-doctag,
.black-metal .hljs-keyword.hljs-atrule,
.black-metal .hljs-quote,
.black-metal .hljs-regexp {
  color: #aaa;
}
.black-metal .hljs-attribute,
.black-metal .hljs-function .hljs-title,
.black-metal .hljs-section,
.black-metal .hljs-title.function_,
.black-metal .ruby .hljs-property {
  color: #888;
}
.black-metal .diff .hljs-meta,
.black-metal .hljs-keyword,
.black-metal .hljs-template-tag,
.black-metal .hljs-type {
  color: #999;
}
.black-metal .hljs-emphasis {
  color: #999;
  font-style: italic;
}
.black-metal .hljs-meta,
.black-metal .hljs-meta .hljs-keyword,
.black-metal .hljs-meta .hljs-string {
  color: #444;
}
.black-metal .hljs-meta .hljs-keyword,
.black-metal .hljs-meta-keyword {
  font-weight: 700;
}
.atelier-estuary-light {
  /*!
  Theme: Atelier Estuary Light
  Author: Bram de Haan (http://atelierbramdehaan.nl)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
}
.atelier-estuary-light pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
.atelier-estuary-light code.hljs {
  padding: 3px 5px;
}
.atelier-estuary-light .hljs {
  color: #5f5e4e;
  background: #f4f3ec;
}
.atelier-estuary-light .hljs ::selection,
.atelier-estuary-light .hljs::selection {
  background-color: #929181;
  color: #5f5e4e;
}
.atelier-estuary-light .hljs-comment {
  color: #878573;
}
.atelier-estuary-light .hljs-tag {
  color: #6c6b5a;
}
.atelier-estuary-light .hljs-operator,
.atelier-estuary-light .hljs-punctuation,
.atelier-estuary-light .hljs-subst {
  color: #5f5e4e;
}
.atelier-estuary-light .hljs-operator {
  opacity: 0.7;
}
.atelier-estuary-light .hljs-bullet,
.atelier-estuary-light .hljs-deletion,
.atelier-estuary-light .hljs-name,
.atelier-estuary-light .hljs-selector-tag,
.atelier-estuary-light .hljs-template-variable,
.atelier-estuary-light .hljs-variable {
  color: #ba6236;
}
.atelier-estuary-light .hljs-attr,
.atelier-estuary-light .hljs-link,
.atelier-estuary-light .hljs-literal,
.atelier-estuary-light .hljs-number,
.atelier-estuary-light .hljs-symbol,
.atelier-estuary-light .hljs-variable.constant_ {
  color: #ae7313;
}
.atelier-estuary-light .hljs-class .hljs-title,
.atelier-estuary-light .hljs-title,
.atelier-estuary-light .hljs-title.class_ {
  color: #a5980d;
}
.atelier-estuary-light .hljs-strong {
  font-weight: 700;
  color: #a5980d;
}
.atelier-estuary-light .hljs-addition,
.atelier-estuary-light .hljs-code,
.atelier-estuary-light .hljs-string,
.atelier-estuary-light .hljs-title.class_.inherited__ {
  color: #7d9726;
}
.atelier-estuary-light .hljs-built_in,
.atelier-estuary-light .hljs-doctag,
.atelier-estuary-light .hljs-keyword.hljs-atrule,
.atelier-estuary-light .hljs-quote,
.atelier-estuary-light .hljs-regexp {
  color: #5b9d48;
}
.atelier-estuary-light .hljs-attribute,
.atelier-estuary-light .hljs-function .hljs-title,
.atelier-estuary-light .hljs-section,
.atelier-estuary-light .hljs-title.function_,
.atelier-estuary-light .ruby .hljs-property {
  color: #36a166;
}
.atelier-estuary-light .diff .hljs-meta,
.atelier-estuary-light .hljs-keyword,
.atelier-estuary-light .hljs-template-tag,
.atelier-estuary-light .hljs-type {
  color: #5f9182;
}
.atelier-estuary-light .hljs-emphasis {
  color: #5f9182;
  font-style: italic;
}
.atelier-estuary-light .hljs-meta,
.atelier-estuary-light .hljs-meta .hljs-keyword,
.atelier-estuary-light .hljs-meta .hljs-string {
  color: #9d6c7c;
}
.atelier-estuary-light .hljs-meta .hljs-keyword,
.atelier-estuary-light .hljs-meta-keyword {
  font-weight: 700;
}
.ashes {
  /*!
  Theme: Ashes
  Author: Jannik Siebert (https://github.com/janniks)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
}
.ashes pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
.ashes code.hljs {
  padding: 3px 5px;
}
.ashes .hljs {
  color: #c7ccd1;
  background: #1c2023;
}
.ashes .hljs ::selection,
.ashes .hljs::selection {
  background-color: #565e65;
  color: #c7ccd1;
}
.ashes .hljs-comment {
  color: #747c84;
}
.ashes .hljs-tag {
  color: #adb3ba;
}
.ashes .hljs-operator,
.ashes .hljs-punctuation,
.ashes .hljs-subst {
  color: #c7ccd1;
}
.ashes .hljs-operator {
  opacity: 0.7;
}
.ashes .hljs-bullet,
.ashes .hljs-deletion,
.ashes .hljs-name,
.ashes .hljs-selector-tag,
.ashes .hljs-template-variable,
.ashes .hljs-variable {
  color: #c7ae95;
}
.ashes .hljs-attr,
.ashes .hljs-link,
.ashes .hljs-literal,
.ashes .hljs-number,
.ashes .hljs-symbol,
.ashes .hljs-variable.constant_ {
  color: #c7c795;
}
.ashes .hljs-class .hljs-title,
.ashes .hljs-title,
.ashes .hljs-title.class_ {
  color: #aec795;
}
.ashes .hljs-strong {
  font-weight: 700;
  color: #aec795;
}
.ashes .hljs-addition,
.ashes .hljs-code,
.ashes .hljs-string,
.ashes .hljs-title.class_.inherited__ {
  color: #95c7ae;
}
.ashes .hljs-built_in,
.ashes .hljs-doctag,
.ashes .hljs-keyword.hljs-atrule,
.ashes .hljs-quote,
.ashes .hljs-regexp {
  color: #95aec7;
}
.ashes .hljs-attribute,
.ashes .hljs-function .hljs-title,
.ashes .hljs-section,
.ashes .hljs-title.function_,
.ashes .ruby .hljs-property {
  color: #ae95c7;
}
.ashes .diff .hljs-meta,
.ashes .hljs-keyword,
.ashes .hljs-template-tag,
.ashes .hljs-type {
  color: #c795ae;
}
.ashes .hljs-emphasis {
  color: #c795ae;
  font-style: italic;
}
.ashes .hljs-meta,
.ashes .hljs-meta .hljs-keyword,
.ashes .hljs-meta .hljs-string {
  color: #c79595;
}
.ashes .hljs-meta .hljs-keyword,
.ashes .hljs-meta-keyword {
  font-weight: 700;
}
.qualia {
  /*!
  Theme: Qualia
  Author: isaacwhanson
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
}
.qualia pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
.qualia code.hljs {
  padding: 3px 5px;
}
.qualia .hljs {
  color: silver;
  background: #101010;
}
.qualia .hljs ::selection,
.qualia .hljs::selection {
  background-color: #454545;
  color: silver;
}
.qualia .hljs-comment {
  color: #454545;
}
.qualia .hljs-tag {
  color: grey;
}
.qualia .hljs-operator,
.qualia .hljs-punctuation,
.qualia .hljs-subst {
  color: silver;
}
.qualia .hljs-operator {
  opacity: 0.7;
}
.qualia .hljs-bullet,
.qualia .hljs-deletion,
.qualia .hljs-name,
.qualia .hljs-selector-tag,
.qualia .hljs-template-variable,
.qualia .hljs-variable {
  color: #efa6a2;
}
.qualia .hljs-attr,
.qualia .hljs-link,
.qualia .hljs-literal,
.qualia .hljs-number,
.qualia .hljs-symbol,
.qualia .hljs-variable.constant_ {
  color: #a3b8ef;
}
.qualia .hljs-class .hljs-title,
.qualia .hljs-title,
.qualia .hljs-title.class_ {
  color: #e6a3dc;
}
.qualia .hljs-strong {
  font-weight: 700;
  color: #e6a3dc;
}
.qualia .hljs-addition,
.qualia .hljs-code,
.qualia .hljs-string,
.qualia .hljs-title.class_.inherited__ {
  color: #80c990;
}
.qualia .hljs-built_in,
.qualia .hljs-doctag,
.qualia .hljs-keyword.hljs-atrule,
.qualia .hljs-quote,
.qualia .hljs-regexp {
  color: #c8c874;
}
.qualia .hljs-attribute,
.qualia .hljs-function .hljs-title,
.qualia .hljs-section,
.qualia .hljs-title.function_,
.qualia .ruby .hljs-property {
  color: #50cacd;
}
.qualia .diff .hljs-meta,
.qualia .hljs-keyword,
.qualia .hljs-template-tag,
.qualia .hljs-type {
  color: #e0af85;
}
.qualia .hljs-emphasis {
  color: #e0af85;
  font-style: italic;
}
.qualia .hljs-meta,
.qualia .hljs-meta .hljs-keyword,
.qualia .hljs-meta .hljs-string {
  color: grey;
}
.qualia .hljs-meta .hljs-keyword,
.qualia .hljs-meta-keyword {
  font-weight: 700;
}
